<div class="remote">
    <h3>Remote</h3>

    {{#if a2}}
        <ul>
            {{#each content}}
                <p>{{@index}}: {{this}}</p>
            {{else}}
                <p class="empty">No content</p>
            {{/each}}
        </ul>
    {{/if}}

    <h4>number <[n]></h4>

    <input type="text" style="width: 50px">
    <button>click</button>
</div>