<div class="active">

    {{#if content}}
        <ul>
            {{#each content}}
                <p>{{@index}}: {{this}}</p>
            {{else}}
                <p class="empty">No content</p>
            {{/each}}
        </ul>

        <h4>delete tunnel <[d+n]></h4>
    {{/if}}

    <form action="/" method="post">
        <input type="text" name="action" value="connect" readonly/>
        <input type="text" name="label"/>
        <input type="submit" value="Отправить"/>
    </form>
</div>