<div class="start">

    <h3>creat new Tunnel <[c]></h3>
    <form action="/" method="post">
        <label>
            <input type="text" name="action" value="active" readonly/>

        </label>
        <label>
            <input type="text" name="label"/>
        </label>
        <input type="submit" value="Отправить"/>
    </form>

</div>