<div class="card border-success mb-3" style="max-width: 20rem;">
    <div class="card-header"><h3>Click on button</h3></div>
    <div class="card-body" style="display: grid; justify-content: end;">
        <form action="/" method="post">
            <input type="text" name="action" style="display: none" value="start"/>
            <button type="submit" class="btn btn-outline-danger">Click Me</button>
        </form>
    </div>
</div>