h3 {
  background: antiquewhite;
}

.hbs {
  margin: 35px;
  display: grid;
  width: inherit;
  justify-content: center;
  justify-items: center;
}

.posit {

}

ul {
  position: static;
  background: forestgreen;
}

body {
  margin: 10px;
}

p {
  border: 3px solid #c6c7c4;
}
