<div class="card border-success mb-3" style="max-width: 20rem;">
    <div class="card-header"><h3 style="text-align: center">Tunnel</h3></div>
    <div class="card-body" style="display: grid; justify-content: center;">
        <form action="/" method="post">
            <input type="text" name="action" style="display: none" value="tunnel"/>

            <label style="display: flex">[{{label}}]:
                <input type="text" name="label" style="width: 50px"/>
                <button type="submit" class="btn btn-outline-danger">Click Me</button>
            </label>
        </form>
    </div>
</div>